<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone, 'Telefone' %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :programme_id, 'Curso' %>
    <%= f.collection_select :programme_id, Programme.left_outer_joins(:degree).order("degrees.order", :name), :id, :full_name %>
  </div>

  <div class="actions">
    <%= f.button 'Gravar', class: 'button expanded' %>
  </div>
<% end %>
