<% title @profile.name %>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<%= link_to fa_icon('pencil lg', text: 'Edit'), edit_profile_path(@profile), class: 'button' %>
<%= link_to fa_icon('user lg', text: @profile.name), user_path(@user), class: 'button' %>
