<div class="menu">
  <%= link_to fa_icon('list lg fw', text: 'Graus Académicos'), Degree, class: 'button' %>
  <%= link_to fa_icon('plus lg fw', text: 'Curso'), new_programme_path, class: 'button' %>
</div>

<table>
  <thead>
    <tr>
      <th><%= title 'Curso' %></th>
      <th>Grau</th>
    </tr>
  </thead>

  <tbody>
    <% @programmes.each do |programme| %>
      <tr>
        <td><%= link_to programme.name, programme %></td>
        <td><%= programme.degree.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
