<div class="menu">
  <%= link_to fa_icon('list lg fw', text: 'Graus Académicos'), Degree, class: 'button' %>
  <%= link_to fa_icon('list lg fw', text: 'Todos os Cursos'), Programme, class: 'button' %>
  <%= link_to "Cursos de #{@programme.degree.name}", @programme.degree, class: 'button' if @programme.degree %>
</div>

<h1><%= title 'Novo Curso' %></h1>

<%= render 'form', programme: @programme %>

<%= link_to 'Todos os cursos', programmes_path %>
<% if @programme.degree %>
  | 
  <%= link_to "Cursos de #{@programme.degree.name}", @programme.degree %>
<% end %>
