<% title 'Registar' %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: :email %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(mínimo de <%= @minimum_password_length %> caratéres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: :password %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmar senha' %>
  </div>

  <div class="actions">
    <%= f.button "Registar", class: 'button expanded' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
