<% title @user.name %>

<div>
  <% if can? :manage, User %>
    <%= link_to 'Perfil', profile_path(@user.profile) %>
  <% else %>
    <% if @user.has_role? :student %>
      <%= link_to 'Perfil', my_profile_path %>
    <% end %>
  <% end %>
</div>
