<% title 'Utilizadores' %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, user %></td>
          <td><%= user.name %></td>
        </tr>
    <% end %>
  </tbody>
</table>
