<% title @user.name %>

<div class="col" id="user-profile">
  <% if can? :manage, User %>
    <%= link_to 'Perfil', profile_path(@user.profile) %>
  <% elsif can? :manage, @user %>
    <% if !@profile.blank? %>
      <h2><%= @profile.name %></h2>

      <h5>Curriculum Vitae</h5>
      <div id="curriculum-upload">
        <% if @profile.curriculum? %>
          <%= link_to fa_stacked_icon('check lg', base: 'file-pdf-o', class: 'fa-3x'), @profile.curriculum.url, target: '_blank', id: 'curriculum-url' %>
          <%= link_to fa_stacked_icon('times lg', base: 'file-pdf-o', class: 'fa-3x'), "#", target: '_blank', id: 'curriculum-missing', class: 'invalid hidden' %>
        <% else %>
          <%= link_to fa_stacked_icon('check lg', base: 'file-pdf-o', class: 'fa-3x'), @profile.curriculum.url, target: '_blank', id: 'curriculum-url', class: 'hidden' %>
          <%= link_to fa_stacked_icon('times lg', base: 'file-pdf-o', class: 'fa-3x'), "#", target: '_blank', id: 'curriculum-missing', class: 'invalid' %>
        <% end %>

        <%= form_for @profile, html: {id: 'curriculum-upload-form'} do |f| %>
          <span class='button' id="curriculum-upload-button">Upload</br>(Arrastar ficheiro para aqui)</span>
        <% end %>

        <%= form_for @profile do |f| %>
          <%= f.hidden_field :curriculum, value: nil %>
          <% if @profile.curriculum? %>
            <%= f.button fa_icon('trash 3x'), class: 'curriculum-destroy alert button' %>
          <% else %>
            <%= f.button fa_icon('trash 3x'), class: 'curriculum-destroy alert button hidden' %>
          <% end %>
        <% end %>
      </div>

      <div class="profile-details">
        <h5>Dados de <%= @profile.name %><small><%= link_to fa_icon('pencil fw'), edit_my_profile_path %></small></h5>
        <span><strong>Telefone:</strong> <%= @profile.phone %></span>
        <span><strong>Curso:</strong> [<%= @profile.degree %>] <%= @profile.programme.name %></span>
        
      </div>
    <% end %>

    <span><%= link_to fa_icon('lock', text: 'Alterar dados de acesso'), edit_registration_path(current_user) %></span>
    <span><%= link_to fa_icon('sign-out', text: 'Sair'), destroy_user_session_path, method: :delete, class: 'alert' %></span>
  <% end %>
</div>
