<% title 'Esqueceu a sua senha?' %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: :email %>
  </div>

  <div class="actions">
    <%= f.button "Enviar Instruções", class: 'button expanded' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
