<%= form_for(degree) do |f| %>
  <% if degree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(degree.errors.count, "error") %> prohibited this degree from being saved:</h2>

      <ul>
      <% degree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields-horizontal">
    <div class="field">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :order, 'Posição' %>
      <%= f.number_field :order, step: 1, min: 1, max: 10 %>
    </div>
  </div>

  <div class="actions">
    <%= f.button fa_icon('save lg', text: 'Gravar'), class: 'button' %>
  </div>
<% end %>
