<div class="menu">
  <%= link_to fa_icon('list lg fw', text: 'Graus Académicos'), Degree, class: 'button' %>
</div>

<h1><%= title 'Criar Grau Académico' %></h1>

<%= render 'form', degree: @degree %>
