<div class="menu">
  <%= link_to fa_icon('level-up lg fw', text: 'Graus Académicos'), Degree, class: 'button' %>
</div>

<h1>
  <span><%= title @degree.name %></span>
</h1>

<table>
  <thead>
    <tr>
      <th>Curso</th>
      <th colspan></th>
    </tr>
  </thead>

  <tbody>
    <% @programmes.each do |programme| %>
      <tr>
        <td><%= link_to programme.name, edit_programme_path(programme) %></td>
        <td class='text-right'>
          <%= link_to fa_icon('trash fw'), programme, method: :delete, class: 'alert', data: { confirm: 'Tem a certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for(@new_programme) do |f| %>
  <% if @new_programme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_programme.errors.count, "error") %> prohibited this programme from being saved:</h2>

      <ul>
      <% @new_programme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :degree_id %>

  <div class="fields-horizontal">
    <div class="field">
      <%= f.text_field :name, placeholder: 'Curso' %>
    </div>

    <div class="actions">
      <%= f.button fa_icon('save lg', text: 'Adicionar'), class: 'button' %>
    </div>
  </div>
<% end %>
