<% title 'Entrar' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: :email %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: :password %>
  </div>

  <div class="actions">
    <%= f.button "Entrar", class: 'button expanded' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Lembrar-me' %>
    </div>
  <% end -%>

<% end %>

<%= render "devise/shared/links" %>
