<div class="menu">
  <%= link_to fa_icon('calendar-check-o lg fw', text: 'Todos'), JobOffer, class: 'button' %>
  <%= link_to fa_icon('calendar-times-o lg fw', text: 'Expirados'), job_offers_path(expired: true), class: 'button' %>
</div>

<h1><%= title 'Ofertas de Estágio/Emprego' %></h1>

<div class="col">
  <table>
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Cargo</th>
        <th>Salário</th>
      </tr>
    </thead>

    <tbody>
      <% @job_offers.each do |job_offer| %>
        <tr class="<%= 'unapproved' unless job_offer.approved %>">
          <td><%= link_to job_offer.company, job_offer %></td>
          <td><%= job_offer.position %></td>
          <td><%= number_to_currency job_offer.salary %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
