<div class='menu'>
  <%= link_to fa_icon('level-up lg fw', text: 'Oferta de emprego'), @job_offer, class: 'button' %>
</div>

<% title 'Editar Oferta de Emprego' %>

<%= render 'form', job_offer: @job_offer %>
