<div class='menu'>
  <%= link_to fa_icon('level-up lg fw', text: 'Ofertas de emprego'), job_offers_path, class: 'button' %>
</div>

<h4>Empresa</h4>
<%= image_tag @job_offer.image.url %>

<p>
  <strong>Empresa:</strong>
  <%= @job_offer.company %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @job_offer.position %>
</p>

<p>
  <strong>Localização:</strong>
  <%= @job_offer.location %>
</p>

<p>
  <strong>Prazo de Candidatura:</strong>
  <%= l @job_offer.expires_at %>
</p>

<h4>Requisitos</h4>

<p>
  <strong>Estudos Mínimos:</strong>
  <% degree = '' %>
  <% @job_offer.programmes.left_outer_joins(:degree).order("degrees.order", :name).each do |programme| %>
    <% if degree != programme.degree.name %>
      <% if degree != '' %></ul><% end %>
      <% degree = programme.degree.name %>
      <h6><%= degree %></h6>
      <ul>
    <% end %>
    <li><%= programme.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Requisitos Mínimos:</strong>
  <%= @job_offer.minimum_requirements %>
</p>

<p>
  <strong>Tipo de Contrato:</strong>
  <%= @job_offer.type_of_contract %>
</p>

<p>
  <strong>Duração:</strong>
  <%= @job_offer.contract_duration %>
</p>

<p>
  <% if @job_offer.start_time and @job_offer.end_time %>
    <strong>Horário de Trabalho:</strong>
    Das <%= l @job_offer.start_time %>
    às <%= l @job_offer.end_time %>
  <% end %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= simple_format @job_offer.description %>
</p>

<p>
  <strong>Salário:</strong>
  <%= number_to_currency @job_offer.salary %>
</p>

<h4>Contacto</h4>

<p>
  <strong>Nome:</strong>
  <%= @job_offer.name %>
</p>

<p>
  <strong>email:</strong>
  <%= mail_to @job_offer.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @job_offer.phone %>
</p>

<%= form_for @job_offer, remote: true do |f| %>
  <div class='menu'>
    <% if @job_offer.expired? %>
      <%= f.hidden_field :applications_sent, value: true %>
      <% if @job_offer.applications_sent %>
        <%= f.button fa_icon('paper-plane fw', text: 'Enviar Email'), class: 'button alert' %>
      <% else %>
        <%= f.button fa_icon('paper-plane fw', text: 'Enviar Email'), class: 'button success' %>
      <% end %>
    <% else %>
      <%= f.hidden_field :approved, value: !@job_offer.approved %>
      <% if @job_offer.approved %>
        <%= f.button fa_icon('check fw', text: 'Desaprovar'), class: 'button' %>
      <% else %>
        <%= f.button fa_icon('check fw', text: 'Aprovar'), class: 'button success' %>
      <% end %>
      <%= link_to fa_icon('pencil fw', text: 'Editar'), edit_job_offer_path(@job_offer), class: 'button' %>
    <% end %>

    <%= link_to fa_icon('briefcase fw', text: 'Curriculos'), students_job_offers_path(@job_offer.random_id), class: 'button' %>
    <%= link_to fa_icon('trash fw', text: 'Eliminar'), @job_offer, method: :delete, class: 'button alert', data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
