<div class="admin-content">
  <h1><%= title 'Candidaturas' %></h1>
  <% @students.each do |student| %>
    <div class="job-offer-student">
      <%= link_to(
        student.profile.curriculum.url,
        target: '_blank',
        download: true,
        data: {filename: "#{student.profile.programme.full_name} - #{student.name}.pdf"}
      ) do %>
        <div class="job-offer-student-name">
          <%= student.name %>
        </div>
        <div class="job-offer-student-programme">
          <%= student.profile.programme.full_name %>
        </div>
        <div class="job-offer-student-icon">
          <%= fa_icon('download') %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="text-right">
    <%= link_to(
      fa_icon('download', text: 'Transferir todos'),
      '',
      class: 'button',
      id: 'job-offer-download-all',
    ) %>
  </div>
</div>
