#devise {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  min-height: 100%;
  
  form {
    max-width: 300px;
    width: 100%;
    @include box-shadow(1);
    background: $white;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .field {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    [type="checkbox"] {
      margin: 0;
    }
  }
}
