// Menubar
$menubar-height: 58px;
$menubar-bg: #01121c;

// Order Menu
$jobmenu-width: $menubar-height;

// Admin Menu
$adminmenu-height: $menubar-height;

// Job Offers
$job-card-footer-height: 2rem;
$job-card-footer-bg:  #f6f6f6;
