a.alert {
  color: $alert-color;
}

.menu {
  .button, form {
    flex-grow: 1;
    flex-basis: 0px;
    width: 100%;
  }
  a {
    height: 100%;
  }
}

#menubar {
  height: $menubar-height;
  font-size: (4rem / 3);
  background: $menubar-bg;
  line-height: 1;

  display: flex;
  align-items: center;

  position: fixed;
  width: 100%;
  z-index: 100;

  img {
    max-height: $menubar-height;
    padding: 1rem 0.5rem;
  }

  a {
    color: $white;

    &:hover {
      text-decoration: underline;
    }
  }

  .right, .left {
    max-height: $menubar-height;
  }

  .left {
    padding: 0 0 0 1rem;
  }

  .center {
    text-align: center;
    align-items: center;
  }

  .right {
    padding: 0 1rem 0 0;
    align-items: right;
    text-align: right;
  }

  .left, .right {
    flex-grow: 1;
  }
}

.page {
  padding-top: $menubar-height*4/3;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;

  &.no-padding {
    padding-top: $menubar-height;
    min-height: 100%;
    position: absolute;
  }

  .admin-content {
    width: 800px;
    max-width: 100%;
    margin: 0 1rem;
    background: $white;
    @include box-shadow(2);
    padding: 2rem;
  }

}

.col {
  display: flex;
  flex-direction: column;
}

#notice {
  position: fixed;
  background: $white;
  top: $menubar-height;
  width: 100%;
  text-align: center;
  padding: 1rem;
  z-index: 9999;
  opacity: 1;
  @include box-shadow(1);

  &.vanish {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    pointer-events: none;
  }
}

.button {
  &.orange {
    background: #ba5817;
  }
  &.yellow {
    background: #baaa17;
  }
}

.fields-horizontal {
  display: flex;
  .field {
    flex-grow: 1;
    flex-basis: 0px;
    margin: 0 0.5rem;

    &:first-child {
      margin: 0 0.5rem 0 0;
    }
    &:last-child {
      margin: 0 0 0 0.5rem;
    }
  }
}

tbody tr.unapproved {
  background: lighten($alert-color, 30%);
}
