// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index {
  align-self: stretch;
  width: 100%;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $white;

  background: #334999;
  padding: 2.5rem 0;

  img {
    align-self: center;
  }
}


#adminmenu + .page + #notice {
  top: $menubar-height + $adminmenu-height;
}
