// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-profile {
  max-width: 95%;
  width: 600px;
  background: $white;
  @include box-shadow(2);
  padding: 2rem;
}

#curriculum-upload {
  display: flex;
  align-items: stretch;

  #curriculum-url, #curriculum-missing {
    transition-duration: 0.5s;
    transition-property: color;

    i:first-child {
      color: $body-font-color;
    }

    &.orange {
      color: #ba5817;
    }
    &.yellow {
      color: #baaa17;
    }

    &.invalid, &.hidden {
      pointer-events: none;
    }

    &.hidden {
      position: absolute;
      opacity: 0;
    }
  }

  #curriculum-upload-form {
      flex-grow: 1;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 0 0 1rem;

    &.curriculum-destroy {
      transition-duration: 0.1s, 0.5s;
      transition-property: font-size, width, margin, padding, border-width;
      transition-timing-function: ease-in-out;
    }

    &.hidden {
      //transform: scaleX(0);
      width: 0;
      flex-grow: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      border-width: 0px;
      font-size: 0;
    }
  }
}

.profile-details {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
