<header id="menubar">
  <div class="left">
    <%= link_to root_path do %>
      <%= image_tag 'logo-white.png' %>
    <% end %>
  </div>

  <div class="center">
    <strong><%= link_to 'Portal de Emprego AEISCAL', root_path %></strong>
  </div>

  <div class="right">
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
        <%= link_to fa_icon('sign-out', text: 'Sair'), destroy_user_session_path, method: :delete, class: 'alert' %>
      <% else %>
        <%= link_to fa_icon('user fw', text: current_user.name), my_path %>
      <% end %>
    <% else %>
      <%= link_to fa_icon('briefcase fw', text: 'Nova Oferta'), new_job_offer_path %>
      <%= link_to fa_icon('lock fw', text: 'Entrar'), new_user_session_path %>
    <% end %>
  </div>
</header>
