<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/menubar' %>
    <%= render 'layouts/adminmenu' %>

    <div class="page">
      <div class="admin-content">
        <%= yield %>
      </div>
    </div>
  </body>

  <%= render 'layouts/notice' %>
</html>

