<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/menubar' %>
    <%= render 'layouts/notice' %>

    <div id="devise" class="page">
      <h1><%= title %></h1>
      <%= yield %>
    </div>
  </body>

</html>
